<div>
    <form ng-submit="reserveSubmit(query)" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="query.name">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" placeholder="Contact Number" ng-model="query.number">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com" ng-model="query.email">
        </div>
        <div class="form-group">
            <label>No of Guests</label>
            <input type="number" class="form-control" placeholder="No of Guests" ng-model="query.noOfGuests">
        </div>
        <div class="form-group">
            <label>Time of Reservations</label>
            <input type="time" class="form-control" placeholder="Time of Reservations" ng-model="query.reservationTime">
        </div>
        <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" rows="3" placeholder="Comments" ng-model="query.comment"></textarea>
        </div>

        <button type="submit" class="btn btn-xs btn-success" value="submit">Submit</button>
        <button type="button" class="btn btn-xs btn-danger" value="submit" ng-click="resetAll(query)">Reset</button>
    </form>
</div>
<hr/>

<h4>Click here to view all Reservations!</h4>
<button class="btn btn-xs btn-success" ng-click="empFunction()" data-toggle="modal" data-target="#employeePopup">
    Reservations
</button>
<div id="employeePopup" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-body">
                <h4 align="center"><b>Reservations</b></h4>
                <span class="pull-right"><b>Total : </b>{{empdata.length}}</span>
                <div>
                    <table class="table table-bordered table-condensed table-striped">
                        <tr>
                            <th style="width:25%;text-align: center;">Name</th>
                            <th style="width:20%;text-align: center">Phone</th>
                            <th style="width:25%;text-align: center">Email</th>
                            <th style="width:10%;text-align: center">No of Guests</th>
                            <th style="width:10%;text-align:center;">Time of reservation</th>
                            <th style="width:10%;text-align:center;">Comments</th>
                            <th style="width:10%;text-align:center;">Action</th>
                        </tr>
                        <tr ng-repeat="employee in empdata | orderBy : 'timeOfReservation'">
                            <td align="center" style="vertical-align: middle">{{employee.name}}</td>
                            <td style="vertical-align: middle">{{employee.number}}</td>
                            <td style="vertical-align: middle">
                                <input type="text" ng-model="employee.email">
                            </td>
                            <td style="vertical-align: middle">{{employee.noOfGuests}}</td>
                            <td style="vertical-align: middle">{{employee.timeOfReservation | date : 'HH:mm'}}</td>
                            <td style="vertical-align: middle">{{employee.comments}}</td>
                            <td style="vertical-align: middle">
                                <span class="btn btn-sm btn-primary glyphicon glyphicon-pencil"
                                      ng-click="editInfo(employee)"></span>
                                <span class="btn btn-sm btn-danger glyphicon glyphicon-remove"
                                      ng-click="removeInfo(employee)"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn pull-right btn-danger" ng-click="empFunction()"
                            data-dismiss="modal">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




